.nav-item {
	display: flex;
	font-size: 1.5rem;
	gap: 0.5em;
	color: var(--white);
	text-decoration: none;

	&-active {
		display: flex;
		gap: 0.5em;
		font-size: 1.5rem;
		color: var(--white);
		text-decoration: none;
		color: var(--button-hover);
	}
}
