.input {
	width: 100%;
	background-color: var(--input-background-primary);
	border-radius: 7px;
	padding: 1em;
	margin-top: 0.6em;
	box-shadow: 1px 1px 2em rgba(42, 53, 71, 0.5);
	border: 2px solid transparent;
	color: var(--white);

	&:focus {
		outline: none;
		border: 2px solid var(--button-hover);
	}

	&::placeholder {
		color: var(--dark-text);
	}
}

input input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid rgb(0, 0, 0);
	-webkit-text-fill-color: var(--white);
	-webkit-box-shadow: 0 0 0px 1000px var(--input-background-secondary) inset;
	transition: background-color 5000s ease-in-out 0s;
}
