input[type="range"] {
	--range-progress: 0;
	-webkit-appearance: none;
	position: relative;
	background: #bebebe;
	width: 100%;
	height: 8px;
	border-radius: 8px;
	cursor: pointer;
}

input[type="range"]::-moz-range-track {
	position: relative;
	background: #bebebe;
	width: 100%;
	height: 8px;
	border-radius: 8px;
	cursor: pointer;
}

input[type="range"]::before {
	content: "";
	height: 8px;
	width: var(--range-progress);
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	position: absolute;
	top: 0;
	left: 0;
}
input[type="range"]::-moz-range-progress {
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	border: none;
	background-color: var(--white);
	cursor: pointer;
	position: relative;
}

input[type="range"]:active::-webkit-slider-thumb {
	transform: scale(1.2);
}

input[type="range"]::-moz-range-thumb {
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background: var(--background-color);
	cursor: pointer;
	border: transparent;
	position: relative;
}
input[type="range"]:active::-moz-range-thumb {
	transform: scale(1.2);
}
.range-normal {
	display: flex;
	align-items: center;
	gap: 1em;
	@media (max-width: 600px) {
		display: none;
	}
}

.current-normal,
.end-normal {
	@media (max-width: 600px) {
		display: none;
	}
}

.range-focused {
	display: flex;
	align-items: center;
	gap: 0.7em;
}
