/* =========================
Custom Input range 
=============================*/

/* Input range - chrome and safari */

input[type="range"] {
	--range-progress: 50%;

	-webkit-appearance: none;
	position: relative;
	background: #ccc;
	width: 10em;
	height: 8px;
	border-radius: 10px;
	cursor: pointer;
}

/* Input range - firefox */
input[type="range"]::-moz-range-track {
	position: relative;
	background: #ccc;
	width: 100%;
	height: 8px;
	border-radius: 10px;
	cursor: pointer;
}

/* played progress length - Chrome & safari*/
input[type="range"]::before {
	content: "";
	height: 8px;
	background: var(--background-gradient);
	width: var(--range-progress);
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
}

/* played progress length - firefox */
input[type="range"]::-moz-range-progress {
	background: #f50;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	height: 2px;
}

/* slider thumb - chrome and safari */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	margin-left: -0.2em;
	height: 13px;
	width: 13px;
	border-radius: 50%;
	border: none;
	background-color: var(--button-hover);
	cursor: pointer;
	position: relative;
}

/* dragging thumb - chrome and safari */
input[type="range"]:active::-webkit-slider-thumb {
	transform: scale(1.2);
}

/* slider thumb - firefox */
input[type="range"]::-moz-range-thumb {
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background: #f50;
	cursor: pointer;
	border: transparent;
	position: relative;
}
/* dragging thumb - firefox */
input[type="range"]:active::-moz-range-thumb {
	transform: scale(1.2);
}

.progress {
	display: flex;
	align-items: center;
	gap: 1em;
}

.range-normal {
	display: flex;
	align-items: center;
	gap: 1em;
	@media (max-width: 600px) {
		display: none;
	}
}

.current-normal,
.end-normal {
	@media (max-width: 600px) {
		display: none;
	}
}
