.nav-item {
	display: flex;
	align-items: center;
	gap: 0.8em;
	font-size: 1.5rem;
	cursor: pointer;
	transition: color 0.3s;

	@media (min-width: 800px) {
		font-size: 1.5rem;
	}

	span {
		width: 1em;
		font-size: 2rem;
	}

	&:hover {
		color: var(--button-hover);
	}
}
