.item {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	position: relative;
	min-width: 15em;
	max-width: 15em;
	min-height: 18em;
	max-height: 18em;
	transition: transform 0.3s;
	box-shadow: 1px 1px 2em rgba(42, 53, 71, 0.5);
	background-color: var(--item-background);
	border-radius: 10px;
	padding: 1em;
	gap: 1em;
	cursor: pointer;
	transition: 0.3s;

	img {
		align-self: center;
		min-width: 13em;
		max-width: 13em;
		min-height: 13em;
		max-height: 13em;
		border-radius: 10px;
	}

	.play {
		position: absolute;
		right: 2em;
		bottom: 4em;
	}

	&:hover {
		background-color: var(--item-background-hover);

		.play {
			position: absolute;
			bottom: 6em;
			opacity: 1;
			transition: 0.3s;
		}
	}

	.heart {
		position: absolute;
		left: 0.7em;
		top: 0.7em;
		font-size: 4rem;
		transition: 0.3s;
		background: none;
		border: none;
		color: var(--white);
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
			color: var(--button-background);
		}
	}

	.heart-favourite {
		color: var(--button-background);
	}

	&-info {
		display: flex;
		flex-direction: column;
		gap: 0.1em;
	}

	&-author {
		font-size: 1.5rem;
		font-weight: bold;
	}

	&-title {
		color: var(--dark-text);
	}

	.recommendation {
		position: absolute;
		bottom: 5.5em;
		left: 1.5em;
		background-color: var(--button-background);
		background: var(--background-gradient);
		padding: 0.5em;
		border-radius: 10px;
		font-size: 1.5rem;
	}
}
