.header {
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 1em;
	top: 0;
	left: 0;
	background-color: var(--button-background);
	background: var(--background-gradient);
	height: 15em;
	width: 100%;

	.heart {
		font-size: 8rem;
	}

	.liked {
		font-size: 3rem;
		font-weight: 900;
	}
}
