.login-logout {
	padding: 0.8em 1.7em;
	border-radius: 2em;
	font-size: 1.8rem;
	background-color: var(--button-background);
	color: var(--white);
	text-decoration: none;
	font-weight: bold;
	transition: 0.3s;
	cursor: pointer;
	border: none;

	&:hover {
		background-color: var(--button-hover);
		color: var(--white);
	}
}
