.audio-player {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	gap: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0.8em;
	z-index: 2137;
	background-color: #181a3f;

	.song-player {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1em;
	}

	.song-info {
		display: flex;
		align-items: center;
		flex-direction: row;
		font-size: 1.6rem;
		width: 20em;

		.author {
			color: var(--dark-text);
			text-align: left;
			font-size: 1.4rem;
			margin-top: 0.2em;
		}

		.title {
			font-weight: bold;
			margin-top: 0;
			font-size: 1.6rem;
		}
		.picture {
			margin-right: 0.5em;
			width: 4em;
			height: 4em;
			cursor: pointer;
		}
	}
}

.audio-player-focused {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding: 0.8em;
	z-index: 2137;
	background-color: #181a3f;

	.song-player-focused {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		gap: 1em;
	}

	.song-info-focused {
		display: flex;
		align-items: center;
		flex-direction: column;
		font-size: 1.6rem;

		.info-text {
			margin: 1.2em;
		}

		.author-focused {
			color: var(--dark-text);
			font-size: 1.7rem;
			text-align: center;
		}

		.title-focused {
			text-align: center;
			font-weight: bold;
			font-size: 2rem;
			margin-bottom: 0.2em;

			@media (min-width: 576px) {
				font-size: 3rem;
			}
		}
		.picture-focused {
			width: 13em;
			height: 13em;
		}
	}

	.close-button-focused {
		position: absolute;
		top: 1em;
		right: 1em;
		font-size: 2.5rem;
		cursor: pointer;
		transition: transform 0.5s;
		background: none;
		border: none;
		color: var(--white);

		&:hover {
			transform: rotate(360deg);
		}
	}
}
