.audio-player {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0.8em;
	z-index: 2137;
	background-color: #181a3f;

	.song-player {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		gap: 0.5em;
	}

	.song-info {
		display: flex;
		align-items: center;
		font-size: 1.6rem;

		.author {
			font-weight: bold;
			margin-bottom: 0.3em;
		}

		.title {
			color: var(--dark-text);
		}
		.picture {
			margin-right: 0.8em;
			width: 4em;
			height: 4em;
		}
	}
}
