.rounded-button {
	width: 3.5em;
	height: 3.5em;
	background-color: var(--button-background);
	background: var(--background-gradient);
	color: var(--white);
	border-radius: 50%;
	border: none;
	opacity: 0;
	cursor: pointer;
	transition: box-shadow 0.5s;

	&:hover {
		box-shadow: 1px 1px 20px var(--button-background);
	}
}
