.form {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	background-color: var(--background-color);
}

.login-text {
	margin-left: 0.2em;
	cursor: pointer;
	transition: 0.3s color;
	text-decoration: none;
	color: var(--button-background);
}

.login-text:hover {
	color: var(--button-hover);
}

@media (min-width: 576px) {
	.form {
		width: 30em;
	}
}
