.form {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	background-color: var(--background-color);
	width: 20em;

	.login-text {
		margin-left: 0.2em;
		cursor: pointer;
		transition: 0.3s color;
		text-decoration: none;
		color: var(--button-background);

		&:hover {
			color: var(--button-hover);
		}
	}

	@media (min-width: 576px) {
		width: 30em;
	}
}
