.heading {
	font-size: 3rem;
	margin-bottom: 0.3em;
}

.bolded {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 3.5rem;
	color: var(--button-background);
}
