.panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1em;
	background-color: #181a3f;
	z-index: 2;
	height: 5em;

	&-box {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1em;
		margin: 0 auto;
	}

	.signup {
		font-size: 1.8rem;
		color: var(--dark-text);
		font-weight: bold;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: var(--white);
		}
	}
}
