.panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1em;
	background-color: #181a3f;
	z-index: 2;
}

.panel-box {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1em;
	margin: 0 auto;
}

.login-logout {
	padding: 0.8em 1.7em;
	border-radius: 2em;
	font-size: 1.8rem;
	background-color: var(--button-background);
	color: var(--white);
	text-decoration: none;
	font-weight: bold;
	transition: 0.3s;
	cursor: pointer;

	&:hover {
		background-color: var(--black);
		color: var(--white);
	}
}

.signup {
	font-size: 1.8rem;
	color: var(--dark-text);
	font-weight: bold;
	text-decoration: none;
	transition: color 0.3s;

	&:hover {
		color: var(--white);
	}
}
