.main {
	display: flex;
	flex-direction: column;
	gap: 3em;
	padding: 0 2em;
	margin-left: 0;
	margin-top: 10em;
	align-items: center;

	@media (min-width: 450px) {
		margin-left: 7em;
	}

	@media (min-width: 800px) {
		margin-left: 15em;
	}
}
